##
## Licensed to Marvelution under one or more contributor license
## agreements.  See the NOTICE file distributed with this work
## for additional information regarding copyright ownership.
## Marvelution licenses this file to you under the Apache License,
## Version 2.0 (the "License"); you may not use this file except
## in compliance with the License.
## You may obtain a copy of the License at
##
##  http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied. See the License for the
## specific language governing permissions and limitations
## under the License.
##

$!webResourceManager.requireResourcesForContext("sonar-admin")
<html>
<head>
	<title>$i18n.getText("sonar.associations.delete.header.title")</title>
	<meta name="decorator" content="admin"/>
	#if ($action.useContextDecorator())
	<meta name="projectKey" content="${project.key}">
	<meta name="projectId" content="${context}">
	<meta name="admin.active.section" content="atl.jira.proj.config">
	<meta name="admin.active.tab" content="sonar_project_associations">
	#else
	<meta name="admin.active.section" content="admin_plugins_menu/sonar-section">
	<meta name="admin.active.tab" content="sonar_associations_administer">
	#end
</head>

<body id="jira" class="aui-layout aui-style-default page-type-admin">
#set($i18n = $action)
<form onsubmit="if (this.submitted) return false; this.submitted = true; return true" name="jiraform" method="post" action="DeleteSonarAssociation.jspa">
<input type="hidden" name="context" value="${context}" />
<input type="hidden" name="associationId" value="${associationId}" />
<table class="jiraform maxWidth">
<tbody>
	<tr class="titlerow">
		<td colspan="2" class="jiraformheader">
			<h3 class="formtitle">$i18n.getText("sonar.associations.delete.title")</h3>
		</td>
	</tr>
	<tr class="descriptionrow">
		<td colspan="2" class="jiraformheader">
			<div class="desc-wrap">$i18n.getText("sonar.associations.delete.description")</div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			${i18n.getText("sonar.associations.delete.confirm", $associationProject.name, $resourceName)}
		</td>
	</tr>
	<tr class="buttons-container">
		<td class="jiraformfooter">&nbsp;</td>
		<td colspan="1">
			<div class="aui-toolbar form-buttons noprint">
				<div class="toolbar-group">
					<span class="toolbar-item">
						<input type="submit" name=" $i18n.getText("common.words.delete") "
							value=" $i18n.getText("common.words.delete") " id="add_submit" accesskey="s"
							title="Press Ctrl+Alt+s to submit form" class="toolbar-trigger ">
					</span>
				</div>
				<div class="toolbar-group">
					<span class="toolbar-item toolbar-item-link">
						<input id="cancelButton" class="toolbar-trigger" type="button" accesskey="`"
							title="$i18n.getText("common.forms.cancel") (Ctrl+Alt + `)" name="AdministerSonarAssociations.jspa"
							value="$i18n.getText("common.forms.cancel")" onclick="location.href='AdministerSonarAssociations.jspa?context=${context}'">
					</span>
				</div>
			</div>
		</td>
	</tr>
</tbody>
</table>
</form>
</body>
</html>
