/**
 * Licensed to Marvelution under one or more contributor license
 * agreements.  See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Marvelution licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

#sonar-layout-warning,
#sonar-server-delete-warning {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-width: 0 0 1px;
	margin: -16px -16px 10px;
}

#sonar-layout-warning {
	display: none;
}

#sonar-layout-message {
}

#sonar-layout-message-title {
}

#sonar-button-container {
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}

.aui-toolbar.sonar-button {
	padding-top: 7px;
	background: transparent;
}
