/**
 * Licensed to Marvelution under one or more contributor license
 * agreements.  See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Marvelution licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.header {
	padding: 5px 10px 29px 10px;
	border-bottom: 1px solid #CCC;
}

#tabs {
	margin-bottom: -1px;
}

#tabs .tab {
	padding: 5px 10px;
	border: 1px solid #CCC;
	cursor: pointer;
	font-size: 100%;
	font-weight: bold;
	list-style-type: none;
	float: left;
	display: block;
}

#tabs .selected {
	cursor: default;
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
}

#tabs #thobber {
	width: 20px;
	height: 25px;
	border: 0px;
	background: transparent;
	cursor: default;
}

#tabs #thobber.loading {
	//background: transparent url("../../../images/icons/wait.gif") 10px 7px no-repeat;
}

.module-content {
	margin: 10px;
}

.center-div {
	width: 100%;
	text-align: center;
}

#associationDialog p {
	padding: 10px;
}

#associationDialog table {
	width: 100%;
}

.gadgetList {
	float: left;
	list-style: none;
	margin: -10px;
	padding: 0px;
	width: auto;
}

.gadgetList .hover {
	background: #EEE;
}

.gadgetList li {
	float: left;
	width: 48%;
	padding: 0 1%;
	border: 2px white;
	height: 142px;
	font-size: .77em;
	overflow: hidden;
	position: relative;
}

.gadgetList li img {
	border: 1px solid #999;
	float: left;
	position: absolute;
	top: 10px;
	left: 10px;
}

.gadgetList li h3 {
	font-weight: bold;
	white-space: nowrap;
	margin-left: 142px;
	margin-top: 11px;
	padding: 0;
}

.gadgetList li p {
	margin-left: 142px;
}

.gadgetList li .buttons {
	float: left;
	margin: 81px 0px 0px 4px;
	width: auto;
}

.gadgetList li .buttons input {
	font-size: 12px;
	overflow: visible;
	padding: 2px 6px 3px;
	width: auto;
}

.field-row {
	width: 25%;
	text-align: right;
}

#operations {
	float: right;
}

.column {
	min-height: 300px;
	background: #FFF;
	float: left;
}

.column_A_A {
	width: 100%;
}

.column_AA_A {
	width: 50%;
}

.column_AB_A,
.column_BA_A {
	width: 60%;
}

.column_AB_B,
.column_BA_B {
	width: 40%;
}

.column_AAA_A {
	width: 33.33%;
}

.headless-panel .column .dragbox {
	border: 1px solid #DDD;
}

.headless-panel .column .dragbox-header {
	display: none;
}

.column .dragbox {
	margin: 5px 2px 20px;
	background: #FFF;
	position: relative;
	border: 1px solid #BBB;
}

.column .dragbox h3 {
	font-size: 90%;
	padding: 5px;
	cursor: inherit;
	background-color: #369;
	color: #FFF;
	margin: 0 0 0.5em;
}

.column .dragbox .menu {
	background: transparent;
	color: #369;
	display: none;
	position: absolute;
	right: 12px;
	top: 3px;
}

.column .dragbox .menu ul li {
	float: left;
	list-style-type: none;
}

.column .dragbox .menu ul li.i-move {
	background-position: 0px 0px;
	margin: 3px 0px 0px 0px;
	width: 13px;
}

.dragbox-content {
	background: #FFF;
	min-height: 100px;
	margin: 5px;
}

.dragbox .loading-bar {
	text-align: center;
}

.dragbox-content iframe, .dragbox-content iframe {
	width: 99%;
	height: auto;
	overflow: hidden;
}

.column .placeholder {
	background: #DDD;
	border: 2px dashed #BBB;
}

#chart-metrics-column {
	width: 75%;
}

#chart-container,
#metrics-container {
	float: left;
	width: 100%;
}

#chart-container .mod-header,
#metrics-container .mod-header {
	margin-right: 20px;
}

#chart-container img {
	text-align: center;
	padding: 10px;
}

#metrics-container ul {
	list-style-type: none;
	padding-left: 0px;
}

#metrics-container ul li {
	float: left;
	width: 24%;
}

#versions-column {
	width: 25%
}

#versions-column ol {
	list-style-type: none;
	padding-left: 0px;
}

#metrics-container ul li,
#versions-column ol li {
	margin: 5px;
}

#metrics-container ul li input,
#versions-column ol li input {
	margin-right: 5px;
}

#metrics-container ul li .desc,
#versions-column ol li .desc {
	padding-left: 17px;
	color: #A0A0A0;
	font-size: 1em;
}

/**
 * Copied from dashboard.css from the atlassian-dashboard-plugin
 * It is copied to allow the layout style to be used but exclude all the
 * other js and css files that can conflict in the administration sections
 **/
#layout-options {
	display: none;
}

#layout-dialog {
}

#layout-dialog .aui-dialog {
	border: none;
}

#layout-dialog h2 a,
#layout-dialog h2 a:link,
#layout-dialog h2 a:visited,
#layout-dialog h2 a:hover,
#layout-dialog h2 a:active,
#layout-dialog h2 a:focus {
	display: block;
	height: 16px;
	position: absolute;
	right: 0.5em;
	text-indent: -9999px;
	top: 0.75em;
	width: 16px;
}

#layout-dialog .dialog-panel-body {
	padding: 10px 0 10px 16px;
}

#layout-dialog p {
	margin: 0 0 1em 0;
	text-align: left;
}

#layout-dialog ul {
	margin: 0;
	padding: 0;
}

#layout-dialog ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#layout-dialog ul li a,
#layout-dialog ul li a:link,
#layout-dialog ul li a:visited {
	border: 1px solid #bbb;
	display: block;
	float: left;
	margin: 0 1em 1em 0;
	outline: none;
	padding: 0.35em;
	width: auto;
}

#layout-dialog ul li a:hover,
#layout-dialog ul li a:active,
#layout-dialog ul li a:focus {
	border-color: #666;
}

#layout-dialog ul li a strong {
	background: #fff url('images/sprite-layouts.png') no-repeat 0 0;
	cursor: pointer;
	display: block;
	float: left;
	height: 37px;
	text-indent: -9999px;
	width: 68px;
}

ul li a#layout-a strong {
	background-position: 0 0;
}

ul li a#layout-aa strong {
	background-position: 0 -41px;
}

ul li a#layout-ba strong {
	background-position: 0 -82px;
}

ul li a#layout-ab strong {
	background-position: 0 -123px;
}

ul li a#layout-aaa strong {
	background-position: 0 -163px;
}

.layout-a ul li #layout-a strong,
#layout-dialog #layout-a:hover strong,
#layout-dialog #layout-a:active strong,
#layout-dialog #layout-a:focus strong {
	background-position: -72px -1px;
}

.layout-aa ul li #layout-aa strong,
#layout-dialog #layout-aa:hover strong,
#layout-dialog #layout-aa:active strong,
#layout-dialog #layout-aa:focus strong {
	background-position: -72px -41px;
}

.layout-ba #layout-ba strong,
#layout-dialog #layout-ba:hover strong,
#layout-dialog #layout-ba:active strong,
#layout-dialog #layout-ba:focus strong {
	background-position: -72px -82px;
}

.layout-ab #layout-ab strong,
#layout-dialog #layout-ab:hover strong,
#layout-dialog #layout-ab:active strong,
#layout-dialog #layout-ab:focus strong {
	background-position: -72px -122px;
}

.layout-aaa #layout-aaa strong,
#layout-dialog #layout-aaa:hover strong,
#layout-dialog #layout-aaa:active strong,
#layout-dialog #layout-aaa:focus strong {
	background-position: -72px -163px;
}

.layout-a ul li a#layout-a,
.layout-aa ul li a#layout-aa,
.layout-ba ul li a#layout-ba,
.layout-ab ul li a#layout-ab,
.layout-aaa ul li a#layout-aaa {
	background-color: #eee;
	border-color: #666;
}
